html {
	height:100%;
	max-height:100%;

	}
body{
    margin 0%;
    boxsizing:border-box;
    overflow-x:hidden;
}

:root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

}

a{
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.container{
margin:0 5vw;
}


button.btn{
border:none;
border-radius:2rem;
padding:1rem 3rem;
font-size:1rem;
cursor:pointer;
}



.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height:10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

nav .nav-menu{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons a{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 30rem;
}

.nav .nav-brand a{

    padding:1rem 0rem;
    display:block;
    font-size: 1.6rem;
}
.nav .nav-items{
    list-style-type:none;
    display:flex;
    margin:0;
}
.nav .nav-items .nav-link{
    padding:1.6rem 1rem;
    font-size:1.10rem;
    display:relative;
}

.nav .nav-items .nav-link:hover a{
text-decoration:underline;
}
.nav .nav-items .nav-link:hover a{
color:#1b4332;
text-decoration:underline;
font-size:25px;
}
.nav .social{
    display:block;
    padding:1.0rem 1.2rem;
}
/*--------main content-------------------------*/
/*--------site title-------------------------*/
main .site-title{
background:url('https://images.wallpaperscraft.com/image/paint_stains_mixing_140283_3840x2160.jpg');
background-size:cover;
height:110vh;
display:flex;
justify-content:center;
}
main .site-title .site-background{
 padding-top:10rem;
 text-align:center;
 color:white
}
main .site-title h6,h3{
margin:3rem;
}
main .site-title .btn{
margin:1.8rem;
}
main .site-title .btn:hover{
background:transparent;
border:1px solid;
border-color:white;
color:#ffffff;
}
main .blog .blog-post{
    padding-top: 1rem;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
}

main .blog-content .blog-title{
    padding: 2rem 0;
}



main .blog-content span{
    display: block;
}
/*contactus----*/
.contact-section{
  background: url("https://picjumbo.com/wp-content/uploads/white-marble-stone-background-texture-pattern_free_stock_photos_picjumbo_marble_free_stock_photos_picjumbo_com-2210x1473.jpg") no-repeat center;
  background-size: cover;
  padding: 40px 0;
  justify-content:center;
}
.contact-section h1{
  text-align: center;
  color: black;
}
.border{
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
  resize: none;
  height: 120px;
}

.contact-section a{

  background-color:#1d3557;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  text-align:center;

}
.contact-section a:hover{
  background: #2980b9;
}
/*=---------about--------*/
.about-section{
  margin: 0;
  padding: 5rem 0rem;
  background: url("https://image.freepik.com/free-vector/soft-marble-background_62432-480.jpg") no-repeat;
  background-size: cover;
}
.box{
  width:50vw;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}

.gallery-section{
  width: 100%;
  padding: 60px 0;
  background: #f1f1f1;
}

.inner-width{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1{
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.border{
  width: 180px;
  height: 4px;
  background: #333;
  margin: 60px auto;
}

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.gallery-section .image:hover img{
  transform: scale(1.4) rotate(15deg);
}


/*-------------footer---------------*/
footer.footer{
    height: 100%;
    background: var(--bg-color);
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: var(--white);
}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span{
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color: var(--white);
    padding: 0 .4rem;
}

footer.footer .rights{
    justify-content: center;

}

footer.footer .rights h4 a{
    color: var(--white);
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: var(--midnight);
}

footer.footer .move-up span:hover{
    color: var(--white);
    cursor: pointer;
}
/*---------ciewpoer less then 500px-------------*/
@media only screen and (max-width:750px){
   .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }
  .main .site-title{
  height:155vh;
  }

}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
  .site-title{
  height:300vh;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 100%;
  }
  main .site-title{
  height:300vh;
  }
  .box{
  width: 200px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
  }
}